

/* Format the size of all images. */
img {
    width: 10%;
    height: auto;
    margin: 2%;
}
/* Style the font color. */

/* Style the background with a color or image. */
body {

    background-color: black;
    background-image: url("spacebg.png");
    background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    margin: 0;
}

#parallax {
    background-image: url("spacebg2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */

#projects {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;


}

h1,h2,h3 {
    color: white;
    text-align: center;
}

.projectCard {
    background-color: white;

    height: auto;
    border: 10px grey;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    padding: 2.5%;
}

.cardContent {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.projectButton {
    text-decoration: none;
}

.projectCard>h3 {
    text-align: center;
}

#headshot {
    border-radius: 30%;
    width: auto;
    height: 400px;
}

#photoDiv {
    display: flex;
    justify-content: center;
}

#skillsDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#skillsDiv>img {
    width: 20%;
    height: 20%;
}
.contact {
   
}

.contact > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

#contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#firstName {
    padding-right: 10%;
    font-size: 150px;

}
#lastName {
   padding-left: 10%;
    font-size: 150px;
}